#cab1 {

  background-color: #212224;
  height: 60px;
  align-items: center;
  color: white;

}

#cab2 {

  background-color: rgb(66, 66, 66);
  height: 60px;
  align-items: center;
  color: white;

}

#corpo1 {
  background-color: #3864bb;
  height: 900px;

}


#corpo2 {

}

.letraNegritoG{
  font-size: 20pt;
  font-weight: bold;
  color: white;
}

p { 
  text-align: justify;
  color: white;
  font-size: 14pt;
 }

 .letraBrancaP{
   color: white;
   font-size: 12pt;
 }

 small{
  text-align: right;
  color: white;
 }
