#cab1 {

  background-color: #212224;
  height: 60px;
  align-items: center;
  color: white;

}

#cab2 {

  background-color: rgb(66, 66, 66);
  height: 60px;
  align-items: center;
  color: white;

}

#corpo1 {
  height: 900px;
}


#corpo2 {
  height: 80px;
  background-color: #305bb3;
  align-items: center;
}

#labelCorpo2 {
  font-size: 30pt;
  color: white;
  font-weight: bold;
}

.letraNegritoG{
  font-size: 20pt;
  font-weight: bold;
  color: white;
}

p {
  text-align: justify;
  color: white;
  font-size: 14pt;
 }

 .letraBrancaP{
   color: white;
   font-size: 12pt;
 }

 small{
  text-align: right;
  color: white;
 }

 #itemMenu1, #itemMenu2, #itemMenu3 {
   align-items: center;
   text-align: center;
   background-color: #2a4d94;
   font-weight: bold;
   height: 80px;
 }

 #itemMenu2 {
  background-color: #305bb3;
}

#itemMenu3, #corpo1 {
  background-color: #3c67bb;
}

 a {
   color: white;
   font-size: 16pt;
 }

 #labelMenu {
   font-size: 8pt;
   color: lightgray;
   font-weight: 300;
 }


